body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Trebuchet MS, sans-serif;
}
.topnav {
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.topnav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .left-links a:hover {
    background-color: transparent;
    color: yellow;
}

.topnav .left-links a {
    float: left;
    color: white;
}

.heading-text-container {
    position: absolute;
    font-size: 40px;
    color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: appear 3s;
}
header img{
    width: 100%;
    position: relative;
    object-fit: cover;
    clip-path: polygon(0 0%, 100% 0%, 100% 60%, 0 60%); /*cropaj 40% sa vrha i 30% sa dna slike*/
    animation: slideDown 1s;
}


.main-heading h1{
    text-align: center;
    position: relative;
    font-size: 30px; 
    margin-top: -10%;
    
}
.main-heading h1::after {
    content: '';
    display: block; 
    border-bottom: 4px orange solid;
    position: absolute; 
    bottom: -15px;
    width: 50%; 
    left: 50%;
    transform: translateX(-50%);
}
.text-container{
    max-width: 50%;
    margin: 5em auto auto auto;
}
.img-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 28%;
}
.gallery img {
    max-width: 20%; 
    height: auto;
    margin: 20px 10px 20px 10px; 
}
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 30px 10px;
}
.video-container video {
    width: 42%;
}
footer {
    position: absolute;
    width: 100%;
    display:flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 100%;
    object-fit: cover;
    height: 230px;
    z-index: 0;
}
.text-container-footer {
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 600;
}
.text-container-footer p:nth-child(2) {
color: darkred;
}
@media (max-width: 1261px){
    .heading-text-container{
        font-size: 35px;
        top: 15%;
    }
}
@media (max-width: 1103px){
    .main-heading h1{
        font-size: 25px;
    }
    .heading-text-container{
        font-size: 35px;
    }
}
@media (max-width: 980px){
    .heading-text-container{
        font-size: 30px;
    }
    .img-container {
        flex-direction: column;
        padding: 0px 25%;
    }

    .gallery img {
        max-width: 50%;
        margin: 10px 0;
    }
}
@media (max-width: 926px){
    .heading-text-container{
        font-size: 25px;
    }
    .main-heading h1{
        font-size: 20px;
    }
}
@media (max-width: 862px){
    .heading-text-container{
        font-size: 20px;
    }
}
@media (max-width: 780px){
    .heading-text-container{
        font-size: 15px;
        top:13%;
    }
    .main-heading h1{
        font-size: 15px;
    }
}
@media (max-width: 690px){
    .heading-text-container{
        top:10%;
    }
}
@media (max-width: 580px) {
    .heading-text-container{
        font-size: 15px;
        top: 9%;
    }
}
@keyframes slideDown {
    0% {
        margin-top: -50%;
    }
    100% {
        margin-top: 0%;
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
